@using System.Reflection
@model MyOwnSite_0._01.Models.User


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.DisplayFor(m => m.UserId)
@Html.DisplayFor(m => m.Name)
@Html.DisplayFor(m => m.Password)
@Html.DisplayFor(m => m.Email)





