@using System.Reflection
@model System.Collections.IList


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@Html.DisplayFor(m => m.UserId)
@Html.DisplayFor(m => m.Message)
@Html.DisplayFor(m => m.CreatedOn)
@Html.DisplayFor(m => m.CommentId)*@


@foreach (var part in Model)
{
    part.ToString();
    Html.Display(part.ToString());
}


@*@foreach()*@




